{{ if .Tools.Logger }}
logger:
  #Level 0 紧急的 1警报 2重要的 3错误 4警告 5提示 6信息 7调试
  consoleShow: true
  consoleLevel:  7
  fileWrite:  false
  fileLevel:  7
  multiFileWrite: false
  multiFileLevel: 7
{{ end }}

{{ if .Tools.Http }}httpServer:
  port: 8080
  pprof: 8088
{{ end }}

{{if .Tools.RpcClient}}
rpcClient:
  clientName: "{{ .ServerName }}"
  basePath: "{{ .App }}"
  registerPlugin: "etcd"
  registerServers:
    - "127.0.0.1:2379"
  failRetryModel: 3
  balanceModel: 2
  poolSize: 1
{{end}}

{{if .Tools.RpcServer}}
rpcServer:
  serverName: "{{ .ServerName }}"
  registerPlugin: "etcd"
  registerServers:
    - "127.0.0.1:2379"
  basePath: "{{ .App }}"
  addr: ""
  port: 8899
  pprof: 18899
{{end}}

{{if .Tools.DB}}
db:
  dbType: "mysql"
  maxOpenConn: 20
  maxIdleConn: 4
  maxIdleTime: 100
  maxLifeTime: 3600
  level: 4
  slowThreshold: "100ms"
  master:
    user: "root"
    password: "password"
    host: "127.0.0.1"
    port: "3306"
    database: "database"
  slave:
    - user: "root"
      password: "password"
      host: "127.0.0.1"
      port: "3306"
      database: "database"
{{end}}

{{if .Tools.Redis}}
redis:
  redisType: "alone"
  startAddr: ["127.0.0.1:6379"]
  active: 100
  idle: 100
  auth: ""
  connTimeout: "100ms"
  readTimeout: "100ms"
  writeTimeout: "100ms"
  idleTimeout: "100ms"
{{end}}

{{if .Tools.Trace}}
tracer:
  openTrace: true
  traceName: "{{ .ServerName }}"
  host: "127.0.0.1:6831"
{{end}}
